@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.parent-div:hover .background-fill {
  width: 100%;
}

.parent-div:hover .arrow-icon {
  top: -20px;
  right: -20px;
  display: block;
  animation: arrowAnimation 1s ease-in forwards;
}

@keyframes arrowAnimation {
  0% {
    opacity: 0;
    transform: translate(0) rotate(45deg);
  }
  50% {
    opacity: 1;

    transform: translateX(-50%, 60%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, 60%) rotate(0);
  }
}

.box-main {
  position: relative;

  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
}

.arrow-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.arrow-1 {
  position: absolute;
  top: -25px;
  width: 25px;
  height: 25px;
  color: white;

  animation: animateArrow-1 2s infinite;
}
.arrow-2 {
  color: white;

  position: absolute;
  top: 25px;
  width: 25px;
  height: 25px;

  animation: animateArrow-2 1s infinite;
}

.box {
  position: absolute;
  width: 100%;
  z-index: 5;
  height: 100%;
  background-color: red;
  animation: rotateBox 2s infinite;
}
@keyframes animateArrow-1 {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes animateArrow-2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes rotateBox {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
