@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-div:hover .background-fill {
  width: 100%;
}

.parent-div:hover .arrow-icon {
  top: -20px;
  right: -20px;
  display: block;
  animation: arrowAnimation 1s ease-in forwards;
}

@keyframes arrowAnimation {
  0% {
    opacity: 0;
    transform: translate(0) rotate(45deg);
  }
  50% {
    opacity: 1;

    transform: translateX(-50%, 60%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, 60%) rotate(0);
  }
}
